//COLOR
.box-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .box-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #c3c3c3;
        cursor: pointer;

        &:hover {
            filter: brightness(80%);
            border-color: #fff;
        }

        &.disabled {
            pointer-events: none;
            position: relative;

            &::after {
                content: "X";
                position: absolute;
                color: #fff;
                font-size: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}