//GENERAL
.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

//SHARED